* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


body {
  background-color:  #2f2f2f;
  color: whitesmoke;
  font-family: 'Solway', serif;

}

.header-section {
  height: 125px;
  margin-top: 0;
  padding-top: 30px;
  /*background-color: #323844; */
  background-color:  #2f2f2f;
  box-shadow: 15px 15px 10px #b3bac7;
 
  
}





/* Style for first section, top section  */

.title-logo {
  margin-top: 0px;
  padding: 0;
  font-family: 'Fredoka One', cursive;
  margin-left: 15px;
  text-transform: uppercase;
  float: left;
  

}



#logo {
  width: 50px; 
  height: 65px; 
  display: inline-block;
  position: absolute;
  top: -18px;

}

#genre { 
  width: 125px;
  
}

#year {
  width: 85px;

}

#query {
  text-align: center;
  margin-bottom: 20px;
}
 
#getMovies {
  background-color:	#CF291D;
  color: whitesmoke;
  font-family: 'Solway', serif;
  font-size: 18px;
  width: 150px;
  height: 35px;
  margin-left: 5%;
  border-radius: 12px;

}

/*  Style for section the movie list section   */

.movie-section {
  height: 2000px;
  margin: 0 20px 0 20px;
  padding: 250px 20px 0 100px;
  

}

.movie-images {
  /*width: 182px;
  height: 268px; */
  width: 250px;
  height: 350px;
  padding: 10px;
  border: 2px solid #323844;

}





/*  Style for footer   */

 .footer {
  height: 300px;
  background-color: #CF291D;
  text-align: center;
  margin-right: 0;
  margin-left: 0;
  padding-top: 50px; 

}

h4 {
  padding-right: 20px;

}

.bottom-image {
  width: 35px; 
  height: 45px; 
  display: inline-block;
  position: absolute;
  top: 35px;

}











.fa {
  padding: 20px;
  font-size: 40px;
  width: 55px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

 a:hover {
  text-decoration: none;

}

.fa:hover {
    opacity: 5px;
}

.fa-facebook {
  background: #323844;
  color: white;
}

.fa-twitter {
  background:  #323844;
  color: white;
}

.fa-youtube {
  background:  #323844;
  color: white;
  font-size: 55px;
}

.fa-instagram {
  background: #323844;
  color: white;
}












      









 

  


    
 

